@import "tailwindcss";

@theme {
  /* This defines 'bg-primary', 'text-primary', 'border-primary' */
  --color-primary: #FF6719;

  /* This defines 'bg-dark', 'text-dark' (for your main background) */
  --color-dark: #161718;
  
  /* This defines 'bg-dark-light' (for cards/modals on top of the dark bg) */
  --color-grey: #777777; 

  --color-white: #FFFFFF;

  --color-light-orange: #FFE8D7;
}